<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="__ROOT__/static/css/mainpage.css?1">
  <script type="text/javascript" src="../../../static/jquery-3.2.1.min.js?521"></script>

  <script type="text/javascript" >
  $('.nav_main').click(function(){
    console.log(1);
  })

  </script>
  <title></title>
  <style media="screen">
  @media screen and (max-width: 300px) {
  body {
      background-color:lightblue;
  }
}
  </style>
</head>
<body>
  <div class="nav_main">
    <div class="nav">
      <div class="log"></div>
      <div class="nav_wrapper">
        <ul class="nav_list">
          <li class="nav_main">首页</li>
          <li class="nav_button"><a href="#">服务保障</a></li>
          <li class="nav_button"><a href="#">服务动态</a></li>
          <li class="nav_button"><a href="#">加盟合作</a></li>
          <li class="nav_button"><a href="#">关于我们</a></li>
        </ul>
      </div>
      <div class="login">
        <div class="login_button"><a href="#">供应商登录</a></div>
        <div class="login_button"><a href="#">工程师登录</a></div>
      </div>
      <div class="tel">服务热线:400-155-5151</div>
      <!-- <div style="height:84px;position:absolute;z-index:-1;opcity:0.3;left:0;top:0;">
      <img style="height:100%;"  src="__ROOT__/static/images/1.jpg" alt="">
      </div> -->
    </div>
  </div>

  <div class="banner">
    <img src="../../../static/images/2.jpg" alt="">
  </div>
  <div class="ad_wrapper">
    <ul class="ad_title">
        <li class="content_img">
          <!-- <img src="../../../static/images/notic.jpg" alt=""> -->
        </li>
        <li class="content_list">服务品牌60个</li>
        <li class="content_list">覆盖城市50个</li>
        <li class="content_list">注册工程师700</li>
        <li class="content_list">承接工单8000单</li>
        <li class="content_list">完成工单7800单</li>
    </ul>
  </div>

  <div class="server_wrapper">
    <div class="server">
      <div class="server_title">
        <div class="big_title">服务品类</div>
        <div class="small_title">专注智能家居 专业技能服务</div>
      </div>
      <div class="server_btn">
        <div class="btn_wrapper">
          <div class="btns">
            <div class="icon_btn btn_active"></div>
            <div class="icon_title">净水服务</div>
            <div class="icon_line icon_line_active"></div>
          </div>
          <div class="btns">
            <div class="icon_btn"></div>
            <div class="icon_title">暖通服务</div>
            <div class="icon_line"></div>
          </div>
          <div class="btns">
            <div class="icon_btn"></div>
            <div class="icon_title">智能家居</div>
            <div class="icon_line"></div>
          </div>
        </div>
    </div>
        <ul class="server_content server_active">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">滤芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设备清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>

        <ul class="server_content">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">2芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设备清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>

        <ul class="server_content">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">滤芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设2清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>


      </div>
    </div>
  </div>
    <script type="text/javascript" src="../../../static/page.js?123"></script>
</body>

</html>
