<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=0.75,user-scalable=yes,minimum-scale=0.75,maximum-scale=1"/>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="__ROOT__/static/css/mainpage.css?312333222">
  <script type="text/javascript" src="__ROOT__/static/jquery-3.2.1.min.js?1221232"></script>
<script type="text/javascript" src="__ROOT__/static/tools.js?1221222132312"></script>
  <script type="text/javascript" src="__ROOT__/static/page.js?32212334"></script>
  <title></title>
</head>
<body>
  <div class="nav_main">
    <div class="nav">
      <div class="log"></div>
      <div class="nav_wrapper">
        <ul class="nav_list">
          <li class="nav_main">首页</li>
          <li class="nav_button"><a href="#">服务保障</a></li>
          <li class="nav_button"><a href="#">服务动态</a></li>
          <li class="nav_button"><a href="#">加盟合作</a></li>
          <li class="nav_button"><a href="#">关于我们</a></li>
        </ul>
      </div>
      <div class="login">
        <div class="login_button"><a href="#">供应商登录</a></div>
        <div class="login_button"><a href="#">工程师登录</a></div>
      </div>
      <div class="tel">服务热线:400-155-5151</div>
      <!-- <div style="height:84px;position:absolute;z-index:-1;opcity:0.3;left:0;top:0;">
      <img style="height:100%;"  src="__ROOT__/static/images/1.jpg" alt="">
      </div> -->
    </div>
  </div>

  <div class="banner">
    <img src="__ROOT__/static/images/2.jpg" alt="">
  </div>
  <div class="ad_wrapper">
    <div class="ad_title">
      <ul class="ad_title_content_wrapper">
        <li class="content_img">
          <!-- <img src="../../../static/images/notic.jpg" alt=""> -->
        </li>
        <li class="content_list">服务品牌<i>60</i>个</li>
        <li class="content_list">覆盖城市<i>50</i>个</li>
        <li class="content_list">注册工程师<i>700</i>名</li>
        <li class="content_list">承接工单<i>8000</i>单</li>
        <li class="content_list">完成工单<i>7800</i>单</li>

        <li class="content_img">
          <!-- <img src="../../../static/images/notic.jpg" alt=""> -->
        </li>
        <li class="content_list">服务品牌<i>6</i>个</li>
        <li class="content_list">覆盖城市<i>12</i></li>
        <li class="content_list">注册工程师<i>70</i>名</li>
        <li class="content_list">承接工单<i>800</i>单</li>
        <li class="content_list">完成工单<i>700</i>单</li>

        <li class="content_img">
          <!-- <img src="../../../static/images/notic.jpg" alt=""> -->
        </li>
        <li class="content_list">服务品牌<i>60</i>个</li>
        <li class="content_list">覆盖城市<i>50</i>个</li>
        <li class="content_list">注册工程师<i>700</i>名</li>
        <li class="content_list">承接工单<i>8000</i>单</li>
        <li class="content_list">完成工单<i>7800</i>单</li>
      </ul>
    </div>
  </div>

  <div class="server_wrapper">
    <div class="server">
      <div class="server_title">
        <div class="big_title">服务品类</div>
        <div class="small_title">专注智能家居 专业技能服务</div>
      </div>
      <div class="server_btn">
        <div class="btn_wrapper">
          <div class="btns">
            <div class="icon_btn btn_active"></div>
            <div class="icon_title">净水服务</div>
            <div class="icon_line icon_line_active"></div>
          </div>
          <div class="btns">
            <div class="icon_btn"></div>
            <div class="icon_title">暖通服务</div>
            <div class="icon_line"></div>
          </div>
          <div class="btns">
            <div class="icon_btn"></div>
            <div class="icon_title">智能家居</div>
            <div class="icon_line"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="content_wrapper">
      <div class="content_list">
        <ul class="server_content server_active">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">滤芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设备清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>
        <ul class="server_content">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">2芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设备清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>
        <ul class="server_content">
            <li class="server_show">解决方案</li>
            <li class="server_show">上门安装</li>
            <li class="server_show">滤芯更换</li>
            <li class="server_show">检修保养</li>
            <li class="server_show">设2清洗</li>
            <li class="server_show">以旧换新</li>
        </ul>
      </div>
    </div>

    </div>

    <div class="server_level">
      <div class="level_title">
        <h5>服务品质</h5>
        <h1>自主管理系统 金牌服务团队</h1>
      </div>
        <ul class="level_btn_wrapper">
          <li class="level_btn">
            <div class="level_btn_top">
              <img src="__ROOT__/static/images/top1.jpg" alt="">
            </div>
            <div class="level_btn_bottom">
              <div class="level_btn_cirle">
                 <img src="__ROOT__/static/images/btn1.jpg" alt="">
              </div>
              <div class="level_content">
                <p class="level_content_top">专业管理团队</p>
                <p class="level_content_bottom">自主开发管理平台，快速实现系统对接
全程工单在线管理，省时高效</p>
              </div>
            </div>
          </li>
          <li class="level_btn btn_pad">
            <div class="level_btn_top">
              <img src="__ROOT__/static/images/top2.jpg" alt="">
            </div>
            <div class="level_btn_bottom">
              <div class="level_btn_cirle">
                <img src="__ROOT__/static/images/btn2.jpg" alt="">
              </div>
              <div class="level_content">
                <p class="level_content_top">专业服务团队</p>
                <p class="level_content_bottom">甄选高素质技工，全员实名认证
规范化培训体系，用户放心</p>
              </div>
            </div>
          </li>
          <li class="level_btn btn_pad">
            <div class="level_btn_top">
              <img src="__ROOT__/static/images/top3.jpg" alt="">
            </div>
            <div class="level_btn_bottom">
              <div class="level_btn_cirle">
                <img src="__ROOT__/static/images/btn3.jpg" alt="">
              </div>
              <div class="level_content">
                <p class="level_content_top">专业服务标准</p>
                <p class="level_content_bottom">14年经验积累，统一服务流程
及时服务反馈，规范透明</p>
              </div>
            </div>
          </li>
          <li class="level_btn btn_pad">
            <div class="level_btn_top">
              <img src="__ROOT__/static/images/top4.jpg" alt="">
            </div>
            <div class="level_btn_bottom">
              <div class="level_btn_cirle">
                <img src="__ROOT__/static/images/btn4.jpg" alt="">
              </div>
              <div class="level_content">
                <p class="level_content_top">全国服务覆盖</p>
                <p class="level_content_bottom">21大直营城市，7000+合作技师
95%以上县级城区，全面覆盖</p>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <div class="work_flow">
      <div class="flow_title">
        <h5>服务流程</h5>
        <h1>乐享生活 就找无忧服务</h1>
      </div>
      <div class="work_btn">
        <ul class="work_btn_wrapper">
          <li class="work_btn_list">
            <img src="__ROOT__/static/images/work1.jpg" alt="">
          </li>
          <li class="work_btn_list work_btn_pad">
            <img src="__ROOT__/static/images/work2.jpg" alt="">
          </li>
          <li class="work_btn_list work_btn_pad">
            <img src="__ROOT__/static/images/work3.jpg" alt="">
          </li>
          <li class="work_btn_list work_btn_pad">
            <img src="__ROOT__/static/images/work4.jpg" alt="">
          </li>
          <li class="work_btn_list work_btn_pad">
            <img src="__ROOT__/static/images/work5.jpg" alt="">
          </li>
          <li class="work_btn_list work_btn_pad">
            <img src="__ROOT__/static/images/work6.jpg" alt="">
          </li>
        </ul>
      </div>
    </div>

    <div class="brand">
      <div class="brand_title">
        <h5>服务品牌</h5>
        <h1>十分满意 感恩信赖</h1>
      </div>
      <table class="brand_list">
        <tr>
          <td><img src="__ROOT__/static/images/band_1.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_2.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_3.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_4.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_5.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_6.jpg" alt=""></td>
        </tr>
        <tr>
          <td><img src="__ROOT__/static/images/band_7.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_8.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_9.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_10.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_11.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_12.jpg" alt=""></td>
        </tr>
        <tr>
          <td><img src="__ROOT__/static/images/band_13.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_14.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_15.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_16.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_17.jpg" alt=""></td>
          <td><img src="__ROOT__/static/images/band_18.jpg" alt=""></td>
        </tr>
      </table>
    </div>
    <div class="news">
      <p class="news_top">服务动态</p>
      <div class="news_wrapper">
        <div class="news_banner">
          <div class="news_img">
            <img src="__ROOT__/static/images/news_banner.jpg" alt="">
          </div>
          <div class="img_title">
            <p>无忧服务牵手居然之家 打造智能家居服务平台</p>
          </div>
        </div>
        <div class="news_list_wrapper">
          <ul class="news_list">
            <li>
              <p class="news_title">无忧服务牵手居然之家 打造智能家居服务平台</p>
              <p class="news_date">2018-07-31</p>

            </li>
            <li>
                  <p class="news_title">无忧服务牵手居然之家 打造智能家居服务平台</p>
                  <p class="news_date">2018-03-27</p>

            </li>
            <li>
                  <p class="news_title">无忧服务牵手居然之家 打造智能家居服务平台</p>
                  <p class="news_date">201-06-23</p>

            </li>
            <li>
                  <p class="news_title">无忧服务牵手居然之家 打造智能家居服务平台</p>
                  <p class="news_date">2017-05-05</p>

            </li>
            <li>
                  <p class="news_title">无忧服务牵手居然之家 打造智能家居服务平台</p>
                  <p class="news_date">2016-09-10</p>

            </li>
          </ul>

        </div>

      </div>
    </div>

    <div class="footer">
      <div class="foot_content">
        <div class="footer_top">
          <div class="hot_link">
            <ul>
              <li class="link_title">关于我们</li>
              <li class="link_content">关于我们</li>
              <li class="link_content">加入我们</li>
              <li class="link_content">联系我们</li>
            </ul>
          </div>
          <div class="hot_link">
            <ul>
              <li class="link_title">咨询中心</li>
              <li class="link_content">公司新闻</li>
              <li class="link_content">媒体报道</li>
              <li class="link_content">安装知识</li>
            </ul>
          </div>
          <div class="hot_link">
            <ul>
              <li class="link_title">帮助中心</li>
              <li class="link_content">下单教程</li>
              <li class="link_content">用户服务</li>
              <li class="link_content">订单服务</li>
            </ul>
          </div>

          <div class="online_server">
            <ul class="online_wrapper">
              <li class="online_tel">400-155-5151</li>
              <li class="online_title">全国统一服务热线</li>
              <li class="online_btn">在线客服</li>
            </ul>
          </div>

          <div class="qr_code">
            <div class="code_content">
              <div class="code">
                <img src="__ROOT__/static/images/code1.jpg" alt="">

              </div>
              <p class="code_title">
                关注公众号
              </p>

            </div>
            <div class="code_content">
              <div class="code">
                <img src="__ROOT__/static/images/code1.jpg" alt="">
              </div>
              <p class="code_title">
                招商咨询
              </p>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
        </div>
      </div>

      <p class="bottom_title">
无忧服务·净水服务开放平台 版权所有 @ 2009-2018
      </p>
    </div>
</body>

</html>
