<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="__ROOT__/static/css/mainpage.css?12">
  <title></title>
  <style media="screen">
  @media screen and (max-width: 300px) {
  body {
      background-color:lightblue;
  }
}
  </style>
</head>
<body>
  <div class="nav_main">
    <div class="nav">
      <div class="log"></div>
      <div class="nav_wrapper">
        <ul class="nav_list">
          <li class="nav_main">首页</li>
          <li class="nav_button"><a href="#">服务保障</a></li>
          <li class="nav_button"><a href="#">服务动态</a></li>
          <li class="nav_button"><a href="#">加盟合作</a></li>
          <li class="nav_button"><a href="#">关于我们</a></li>
        </ul>
      </div>
      <div class="login">
        <div class="login_button"><a href="#">供应商登录</a></div>
        <div class="login_button"><a href="#">工程师登录</a></div>
      </div>
      <div class="tel">服务热线:400-155-5151</div>
      <!-- <div style="height:84px;position:absolute;z-index:-1;opcity:0.3;left:0;top:0;">
      <img style="height:100%;"  src="__ROOT__/static/images/1.jpg" alt="">
      </div> -->
    </div>
  </div>

  <div class="banner">
    <img src="../../../static/images/2.jpg" alt="">
  </div>
  <div class="ad_title">
    <div class="ad_content">

    </div>


  </div>
  <div class="">

  </div>


</body>

</html>
